// Colors

$color-violet: #910a44;
$color-mauve: #ddb3c5;
$color-gold: #ffcc33;
$color-grey-light: #cccccc;
$color-grey-dark: #666666;
$color-white: #fff;
$color-dark: #000;

// Fonts

$typeface: 'Roboto', 'Helvetica', sans-serif;
$h1-fontsize: 50px;
$h2-fontsize: 32px;

// Margins

$margin-main: 20px;