nav {
  height: 50px;
  background-color: $color-violet;
  width: 100%;
  margin-bottom: 31px;
}

#nav-container {
  z-index: 9999;
  position: fixed;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  transition: left 1s ease;

  #nav-close {
    position: absolute;
    right: 30px;
    top: 20px;
    color: #fff;
    font-size: 25px;

    &:hover {
      color: $color-violet;
    }
  }

  #nav-list {
    position: absolute;
    top: 100px;
    right: 25px;
    list-style-type: none;
    text-align: right;

    a {
      display: block;
      margin: 10px 0;
      color: #fff;

      &:hover {
        color: $color-violet;
        text-decoration: none;
      }

      &:visited, &:link, &:active {
        text-decoration: none;
      }
    }

    li {
      font-size: 25px;

      .sub-menu-closed {
        display: none;
      }

      ul {
        border-top: 2px solid $color-violet;
        border-bottom: 2px solid $color-violet;
        list-style-type: none;
      }

    }
  }
}

#nav-bar {

  .fa {
    color: #fff;
    font-size: 25px;
    margin-right: 7px;
  }
}

#nav-trigger {
  color: #fff;
  margin: 0 7px 0 16px;
  font-size: 25px;
  font-weight: 200;

  span {
    line-height: 50px;
    font-size: 25px;
  }

  &:hover, &:visited, &:link, &:active {
    text-decoration: none;
  }

  &:after {
    content: "|";
  }
}
